#wrapper {
    background-color: blue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

header {
    background-color: yellow;
    width: 100%;
}

main {
    width: 90vmin;
    aspect-ratio: 1/1;
    background-color: red;
}

#panel {
    background-color: grey;
    flex-grow: 1;
    min-width: 45vmin;
}

footer {
    background-color: green;
    width: 100%;
}

/* Navigation Menu */
/* Hide the checkbox */
#mnu-checkbox {
    display: none;
}

/* Use the label as a button.     */
/* Float the label to the left    */
/* It is is a container for the   */
/* icon and the logo.             */
.mnu-button {
    cursor: pointer;
    float: left;
    /* Cannot select for copy/paste */
    user-select: none;
}

/* The logo floats to right of the icon */
.mnu-logo {
    padding: 8px;
    float: right;
    display: block;
    color: red;
    font-size: 1em;
    text-decoration: none;
 }

/* Use a hamburger symbol as our icon.     */
/* We will make the middle line (meat)     */
/* by setting a solid background color.    */
  .mnu-icon {
    float: left;  /* Left of the logo */
    position: relative;
    top: 16px;   /* Move it down a bit */
    display: block;
    background: red;
    height: 2px;
    width: 18px;
    /* Make the meat disappear */
    transition: background .2s ease-out;
}

/* Make the two buns of the hamburger.            */
/* ::before and ::after are pseudo elements       */
/* placed before and after the specified element. */
/* By default, they are inline. The css content   */
/* property specifies what the two added elements */
/* contain.                                       */
.mnu-icon::before,
.mnu-icon::after {
    background: green; /* Make an opaque background  */
    content: '';         /* but keep the content empty */
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

/* Bottom bun */
.mnu-icon::before {
    top: 5px;
}

/* Top bun */
.mnu-icon::after {
    top: -5px;
}

/* Customize our menu list */
.mnu-list {
    margin: 0;
    padding: 0;
    /* Can be circle, square, none, or other shape */
    list-style: none;
    /* Clip what does not fit - no scrolling or extending */
    overflow: hidden;
}

.mnu-list {
    clear: both;
    /* Make the menu list not visible */
    max-height: 0;
    transition: max-height .2s ease-out;
}

.mnu-list a:hover {
    background-color: green;
}


/* Allow the menu list to expand */
/* if the checkbox is checked    */
#mnu-checkbox:checked~.mnu-list {
    max-height: 300px;
}

/* Make the middle line (the meat */
/* of the hamburger) disappear if */
/* the checkbox is checked        */
#mnu-checkbox:checked~.mnu-button .mnu-icon {
    background: transparent;
}

/* Rotate the top line counter clock-wise */
/* when the checkbox is checked.          */
#mnu-checkbox:checked~.mnu-button .mnu-icon::before {
    transform: rotate(-45deg);
}

/* Rotate the bottom line clock-wise */
/* when the checkbox is checked.     */
#mnu-checkbox:checked~.mnu-button .mnu-icon::after {
    transform: rotate(45deg);
}

/* Change the offset of our two buns so they */
/* overlap when the checkbox is checked.     */
#mnu-checkbox:checked~.mnu-button:not(.steps) .mnu-icon::before,
#mnu-checkbox:checked~.mnu-button:not(.steps) .mnu-icon::after {
    top: 0;
}

/* 48em = 768px */
/* For screens 48em or greater */
@media only screen and (min-width: 48em) {
    .mnu-list li {
        float: left;
    }

    .mnu-list li a {
        padding: 20px 30px;
    }

    /* Move the list to the right */
    .mnu-list {
        clear: none;
        float: right;
        /* Let menu be visible. Max-height was 0 before. */
        max-height: none;
    }

    /* Hide the hamburger button */
    .mnu-icon {
        display: none;
    }
}